#page-top a, #page-top p, #page-top h1, #page-top h2, #page-top h3, #page-top h4,#page-top h5 {
	text-transform: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.ws-s {
	padding-bottom: 10px;
}
@media (max-width: 992px) {
	.ft-x .ft-item h5 {
		height: 85px;
	}
}
i.fa.fa-5 {
	font-size: 10em;
	/*width: 100px;
	height: 100px;*/
}
@media (min-width: 1260px) {
	.navbar .navbar-header {
	 	width: 20%; // change this to match your design, by increasing it or decreasing it.
	}
}
.sec-heading-margin-top {
	margin-top: 100px;
}
.navbar .navbar-nav li a {
	font-size: 1em;
}
.number-counters h2 {
  color: #ececec;
}
.number-counters .sec-heading {
  padding-top: 100px;
  margin-bottom: 0px;
}
.number-counters, .number-counters-dark-bg {
  background: url('../images/hospital.jpeg') no-repeat;
  background-size: cover;
}
.fs-video-hero .hero-content-wrapper .hero-content .hero-subheading {
	margin-top: 20px;
	margin-bottom: 150px;
}
.team-4col .img-responsive {
	width: 100%;
}
.team-4col .row {
	margin-top: 10px;
	margin-bottom: 10px;
}
.customHeaderFont {
	letter-spacing: 2px;
}
.noTextTransform {
	text-transform: none;
}
small.noTextTransform{
	text-transform: none;
}
@media (max-width: 992px) {
	.ft-x .ft-item i {
		margin: 0px;
		margin-right: 20px;
	}
}
/* Feature - Cards 2 thumbnail image fix */
@media (max-width: 1260px) {
	.ft-cards-2 .ft-card-item img {
		max-width: 100%;
	}
	.team-4col .t-item .t-image, .team-4col .t-item {
		width: auto;
	}
}
/* Navbar header - Line height less than 1em? fix*/
.navbar .navbar-nav .dropdown .dropdown-menu li a {
	line-height: 1em;
}
